* {
  font-family: 'Titillium Web', sans-serif;
}

label {
  user-select: none;
  margin     : 0px !important;
}

.ullist {
  list-style: none;
  margin    : 0;
  padding   : 0px;
}

.ullist li {
  margin-bottom: 5px;
  border-radius: 3px;
}

.bg-gray {
  background: #e0e0e0
}

.ullist li>label {
  cursor : pointer;
  display: block;
  padding: 3px 10px;
}

.ullist li.bg-secondary {
  color: #fff;
}

.progress_bar {
  background: #f8f9fa;
  height    : 20px;
  position: relative;
  border:2px solid #deaa0f;
  border-radius: 5px;
}

.progress_bar > span{
  display: block;
  width: 50px;
  background: #ffc107;
  position: absolute;
  left: 0px;
  top:0px;
  height: 100%;
}

body {
  margin: 0;
}

.fw100 {
  font-weight: 100;
}

.fw300 {
  font-weight: 300;
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.fw700 {
  font-weight: 700;
}

.fw900 {
  font-weight: 900;
}